# 查找历史金叉死叉日期

- 使用tushare包过去某股票的历史行情数据

- 使用pandas包计算该股票历史数据的5日均线和60日均线

- 使用matplotlib包可视化历史数据的收盘价和两条均线

- 分析输出所有金叉日期和死叉日期

- 如果我从2012年1月1日开始，初始资金为100000元，金叉尽量买入，死叉全部卖出，则到今天为止，我的炒股收益率如何？

In [1]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib. pyplot as plt

### 使用tushare包过去某股票的历史行情数据

In [4]:
pro = ts.pro_api()
df = pro.daily(ts_code='600519.SH', start_date='20120101') # 茅台从20120101开始的股价信息
df.to_csv("600519SH.csv")
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600519.SH,20210909,1626.00,1645.00,1624.01,1634.08,1633.10,0.98,0.0600,19950.13,3257785.762
1,600519.SH,20210908,1660.00,1671.18,1628.08,1633.10,1669.00,-35.90,-2.1510,33063.67,5428265.636
2,600519.SH,20210907,1661.03,1684.48,1651.00,1669.00,1670.67,-1.67,-0.1000,31211.22,5204051.657
3,600519.SH,20210906,1649.00,1708.16,1626.15,1670.67,1658.22,12.45,0.7508,55338.06,9306030.671
4,600519.SH,20210903,1610.02,1659.79,1582.00,1658.22,1618.80,39.42,2.4351,52835.18,8631165.696
...,...,...,...,...,...,...,...,...,...,...,...
2349,600519.SH,20120110,187.00,194.66,186.11,194.48,188.01,6.47,3.4400,39235.60,749263.279
2350,600519.SH,20120109,186.00,188.09,181.77,188.01,186.64,1.37,0.7300,26160.16,483282.452
2351,600519.SH,20120106,183.10,188.05,181.65,186.64,183.15,3.49,1.9100,25190.62,464647.453
2352,600519.SH,20120105,184.00,185.20,182.36,183.15,185.27,-2.12,-1.1400,30122.64,553347.012
2353,600519.SH,20120104,191.50,192.77,185.00,185.27,193.30,-8.03,-4.1500,33878.28,637232.812

In [6]:
df = pd.read_csv("600519SH.csv", index_col='trade_date', parse_dates=['trade_date'])[['open','close','high','low']]
df

               open    close     high      low
trade_date
2021-09-09  1626.00  1634.08  1645.00  1624.01
2021-09-08  1660.00  1633.10  1671.18  1628.08
2021-09-07  1661.03  1669.00  1684.48  1651.00
2021-09-06  1649.00  1670.67  1708.16  1626.15
2021-09-03  1610.02  1658.22  1659.79  1582.00
...             ...      ...      ...      ...
2012-01-10   187.00   194.48   194.66   186.11
2012-01-09   186.00   188.01   188.09   181.77
2012-01-06   183.10   186.64   188.05   181.65
2012-01-05   184.00   183.15   185.20   182.36
2012-01-04   191.50   185.27   192.77   185.00

[2354 rows x 4 columns]

### 使用pandas包计算该股票历史数据的5日均线和60日均线