In [20]:
import pandas as pd
import datetime
import numpy as np

## 时间对象处理

In [2]:
datetime.datetime.strptime('2010-01-01', '%Y-%m-%d')

datetime.datetime(2010, 1, 1, 0, 0)

In [3]:
datetime.datetime.strptime('2010/01/01', '%Y-%m-%d')

ValueError: time data '2010/01/01' does not match format '%Y-%m-%d'

In [4]:
import dateutil # 可以自动解析日期

In [5]:
dateutil.parser.parse('2020-01-02')

datetime.datetime(2020, 1, 2, 0, 0)

In [6]:
dateutil.parser.parse('2020/01/02')

datetime.datetime(2020, 1, 2, 0, 0)

In [8]:
dateutil.parser.parse('01-02-2020')

datetime.datetime(2020, 1, 2, 0, 0)

### 利用pandas

In [9]:
pd.to_datetime(['2001-01-02', '2012-Feb-03'])

DatetimeIndex(['2001-01-02', '2012-02-03'], dtype='datetime64[ns]', freq=None)

## 时间对象生成

In [10]:
pd.date_range('2010-01-01', '2010-05-01') # 起始日期

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2010-04-22', '2010-04-23', '2010-04-24', '2010-04-25',
               '2010-04-26', '2010-04-27', '2010-04-28', '2010-04-29',
               '2010-04-30', '2010-05-01'],
              dtype='datetime64[ns]', length=121, freq='D')

In [12]:
pd.date_range('2010-01-01', periods=60) # 开始日期与长度

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14', '2010-01-15', '2010-01-16',
               '2010-01-17', '2010-01-18', '2010-01-19', '2010-01-20',
               '2010-01-21', '2010-01-22', '2010-01-23', '2010-01-24',
               '2010-01-25', '2010-01-26', '2010-01-27', '2010-01-28',
               '2010-01-29', '2010-01-30', '2010-01-31', '2010-02-01',
               '2010-02-02', '2010-02-03', '2010-02-04', '2010-02-05',
               '2010-02-06', '2010-02-07', '2010-02-08', '2010-02-09',
               '2010-02-10', '2010-02-11', '2010-02-12', '2010-02-13',
               '2010-02-14', '2010-02-15', '2010-02-16', '2010-02-17',
               '2010-02-18', '2010-02-19', '2010-02-20', '2010-02-21',
               '2010-02-22', '2010-02-23', '2010-02-24', '2010-02-25',
               '2010-02-26', '2010-02-27', '2010-02-28', '2010-03-01'],
              dtype='datetime64[ns]', freq='D')

In [14]:
pd.date_range('2010-01-01', periods=60, freq='H') #频率：每小时

DatetimeIndex(['2010-01-01 00:00:00', '2010-01-01 01:00:00',
               '2010-01-01 02:00:00', '2010-01-01 03:00:00',
               '2010-01-01 04:00:00', '2010-01-01 05:00:00',
               '2010-01-01 06:00:00', '2010-01-01 07:00:00',
               '2010-01-01 08:00:00', '2010-01-01 09:00:00',
               '2010-01-01 10:00:00', '2010-01-01 11:00:00',
               '2010-01-01 12:00:00', '2010-01-01 13:00:00',
               '2010-01-01 14:00:00', '2010-01-01 15:00:00',
               '2010-01-01 16:00:00', '2010-01-01 17:00:00',
               '2010-01-01 18:00:00', '2010-01-01 19:00:00',
               '2010-01-01 20:00:00', '2010-01-01 21:00:00',
               '2010-01-01 22:00:00', '2010-01-01 23:00:00',
               '2010-01-02 00:00:00', '2010-01-02 01:00:00',
               '2010-01-02 02:00:00', '2010-01-02 03:00:00',
               '2010-01-02 04:00:00', '2010-01-02 05:00:00',
               '2010-01-02 06:00:00', '2010-01-02 07:00:00',
               '2010-01-02 08:00:00', '2010-01-02 09:00:00',
               '2010-01-02 10:00:00', '2010-01-02 11:00:00',
               '2010-01-02 12:00:00', '2010-01-02 13:00:00',
               '2010-01-02 14:00:00', '2010-01-02 15:00:00',
               '2010-01-02 16:00:00', '2010-01-02 17:00:00',
               '2010-01-02 18:00:00', '2010-01-02 19:00:00',
               '2010-01-02 20:00:00', '2010-01-02 21:00:00',
               '2010-01-02 22:00:00', '2010-01-02 23:00:00',
               '2010-01-03 00:00:00', '2010-01-03 01:00:00',
               '2010-01-03 02:00:00', '2010-01-03 03:00:00',
               '2010-01-03 04:00:00', '2010-01-03 05:00:00',
               '2010-01-03 06:00:00', '2010-01-03 07:00:00',
               '2010-01-03 08:00:00', '2010-01-03 09:00:00',
               '2010-01-03 10:00:00', '2010-01-03 11:00:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
pd.date_range('2010-01-01', periods=60, freq='B') #频率：工作日

DatetimeIndex(['2010-01-01', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14', '2010-01-15', '2010-01-18',
               '2010-01-19', '2010-01-20', '2010-01-21', '2010-01-22',
               '2010-01-25', '2010-01-26', '2010-01-27', '2010-01-28',
               '2010-01-29', '2010-02-01', '2010-02-02', '2010-02-03',
               '2010-02-04', '2010-02-05', '2010-02-08', '2010-02-09',
               '2010-02-10', '2010-02-11', '2010-02-12', '2010-02-15',
               '2010-02-16', '2010-02-17', '2010-02-18', '2010-02-19',
               '2010-02-22', '2010-02-23', '2010-02-24', '2010-02-25',
               '2010-02-26', '2010-03-01', '2010-03-02', '2010-03-03',
               '2010-03-04', '2010-03-05', '2010-03-08', '2010-03-09',
               '2010-03-10', '2010-03-11', '2010-03-12', '2010-03-15',
               '2010-03-16', '2010-03-17', '2010-03-18', '2010-03-19',
               '2010-03-22', '2010-03-23', '2010-03-24', '2010-03-25'],
              dtype='datetime64[ns]', freq='B')

In [16]:
dt = _
dt[0]

Timestamp('2010-01-01 00:00:00', freq='B')

In [17]:
dt[0].to_pydatetime()

datetime.datetime(2010, 1, 1, 0, 0)

## 时间序列

In [18]:
pd.date_range('2020-01-01', '2020-06-01')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
               '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
               '2020-05-31', '2020-06-01'],
              dtype='datetime64[ns]', length=153, freq='D')

In [21]:
sr = pd.Series(np.arange(100), index=pd.date_range('2017-01-01', periods=100))

In [22]:
sr

2017-01-01     0
2017-01-02     1
2017-01-03     2
2017-01-04     3
2017-01-05     4
              ..
2017-04-06    95
2017-04-07    96
2017-04-08    97
2017-04-09    98
2017-04-10    99
Freq: D, Length: 100, dtype: int32

In [24]:
sr['2017-03-03']

61

In [25]:
sr['2017-04']

2017-04-01    90
2017-04-02    91
2017-04-03    92
2017-04-04    93
2017-04-05    94
2017-04-06    95
2017-04-07    96
2017-04-08    97
2017-04-09    98
2017-04-10    99
Freq: D, dtype: int32

In [26]:
sr['2017']

2017-01-01     0
2017-01-02     1
2017-01-03     2
2017-01-04     3
2017-01-05     4
              ..
2017-04-06    95
2017-04-07    96
2017-04-08    97
2017-04-09    98
2017-04-10    99
Freq: D, Length: 100, dtype: int32

In [27]:
sr = pd.Series(np.arange(1000), index=pd.date_range('2017-01-01', periods=1000))
sr['2017']

2017-01-01      0
2017-01-02      1
2017-01-03      2
2017-01-04      3
2017-01-05      4
             ...
2017-12-27    360
2017-12-28    361
2017-12-29    362
2017-12-30    363
2017-12-31    364
Freq: D, Length: 365, dtype: int32

In [29]:
sr['2017-02-03':'2018-03']

2017-02-03     33
2017-02-04     34
2017-02-05     35
2017-02-06     36
2017-02-07     37
             ...
2018-03-27    450
2018-03-28    451
2018-03-29    452
2018-03-30    453
2018-03-31    454
Freq: D, Length: 422, dtype: int32

In [31]:
sr.resample('W').sum() # 求每周之和

2017-01-01       0
2017-01-08      28
2017-01-15      77
2017-01-22     126
2017-01-29     175
              ...
2019-09-01    6790
2019-09-08    6839
2019-09-15    6888
2019-09-22    6937
2019-09-29    4985
Freq: W-SUN, Length: 144, dtype: int32

In [32]:
sr.resample('M').mean() # 求每月平均

2017-01-31     15.0
2017-02-28     44.5
2017-03-31     74.0
2017-04-30    104.5
2017-05-31    135.0
2017-06-30    165.5
2017-07-31    196.0
2017-08-31    227.0
2017-09-30    257.5
2017-10-31    288.0
2017-11-30    318.5
2017-12-31    349.0
2018-01-31    380.0
2018-02-28    409.5
2018-03-31    439.0
2018-04-30    469.5
2018-05-31    500.0
2018-06-30    530.5
2018-07-31    561.0
2018-08-31    592.0
2018-09-30    622.5
2018-10-31    653.0
2018-11-30    683.5
2018-12-31    714.0
2019-01-31    745.0
2019-02-28    774.5
2019-03-31    804.0
2019-04-30    834.5
2019-05-31    865.0
2019-06-30    895.5
2019-07-31    926.0
2019-08-31    957.0
2019-09-30    986.0
Freq: M, dtype: float64