In [1]:
import pandas as pd

### DataFrame索引和切片

In [2]:
df = pd.DataFrame({'one':[1,2,3,4], 'two':[4,3,2,1]}, index=['a','b','c','d'])
df

   one  two
a    1    4
b    2    3
c    3    2
d    4    1

In [3]:
df['one']

a    1
b    2
c    3
d    4
Name: one, dtype: int64

In [4]:
df['one']['a'] # 用双中括号：先选列再选行

1

In [5]:
df.loc['a', 'one'] # 用loc()方法

1

In [6]:
df.loc['a',:]

one    1
two    4
Name: a, dtype: int64

In [7]:
df.loc['a',]

one    1
two    4
Name: a, dtype: int64