In [1]:
import pandas as pd

### DataFrame的创建

In [3]:
pd.DataFrame({'one':[1,2,3,4], 'two':[4,3,2,1]})

   one  two
0    1    4
1    2    3
2    3    2
3    4    1

In [5]:
pd.DataFrame({'one':[1,2,3,4], 'two':[4,3,2,1]}, index=['a','b','c','d'])

   one  two
a    1    4
b    2    3
c    3    2
d    4    1

In [6]:
df = _
df

   one  two
a    1    4
b    2    3
c    3    2
d    4    1

In [12]:
df1 = pd.DataFrame({'one':pd.Series([1,2,3],index=['a','b','c']), 'two':pd.Series([1,2,3,4],index=['b','a','c','d'])})
df1

   one  two
a  1.0    2
b  2.0    1
c  3.0    3
d  NaN    4

### 将DataFrame转为csv

In [9]:
df.to_csv("test.csv")

In [10]:
df2 = pd.read_csv('test.csv')
df2

  Unnamed: 0  one  two
0          a    1    4
1          b    2    3
2          c    3    2
3          d    4    1

In [ ]:
df1.to_csv('test1.csv')
df1_c = pd.read_csv('test1.csv')
df1_C